<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="title" content="Bike shop experience (fictional)" >
  <meta name="description" content="We sell only best quality city bikes for everyone. With 2 years warranty." >
  <meta name="og:title" content="Bike shop experience (fictional)" >
  <meta name="og:description" content="We sell only best quality city bikes for everyone. With 2 years warranty." >
  <meta name="og:image" content="/images/site_screenshot.png" >
  <meta name="og:url" content="https://bikeshopkris.herokuapp.com/" >
  <meta name="og:type" content="website" >
  <meta name="og:locale" content="en_US" >
  
  <%- include("./components/commonHead") %>
  
  <title>BikeShop - Home</title>
  <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>
</head>

<body class="min-vh-100 d-flex flex-column">
  <%- include("./components/navbar") %>
  <div id="picture-header">
    <!--  div with image background -->
  </div>
  <!-- BIKES SECTION: initializing of the grid here -->
  <div class="container-fluid">
    <div class="row justify-content-evenly">
      <!-- Initializing cards -->
      <% for (var i = 0; i <bikes.length; i++)  { %>
      <div class="card col-11 col-sm-5 col-md-3 mx-1">
        <img src="<%= bikes[i].url %>" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title"><%= bikes[i].name %></h5>
          <p class="card-text  fst-italic"><%= bikes[i].desc %></p>
          <p class="card-text"><%= bikes[i].price %> €</p>
          <a href="./shop?name=<%= bikes[i].name %>&price=<%= bikes[i].price %>&url=<%= bikes[i].url %>&qty=1&priceid=<%= bikes[i].priceid %>" class="btn btn-outline-primary">Buy</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <%- include('./components/footer') %>

  <!-- Scripts --------------------------------------------->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>